body {
  background: linear-gradient(to right, #74ebd5, #9face6);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.weather-box {
  max-width: 400px;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

input,
button {
  margin-top: 10px;
}

img {
  margin-top: 10px;
  width: 60px;
}